<script lang="ts">
    import {onMount} from "svelte";
    import Binary from "./Binary.svelte";
    import type {ByteRange, ByteInformation} from "./ByteRange";
    import {buildByteIntervalsELF} from "./ElfRangeBuilder";

    export let name: string;
    let fileInput : FileList;
    let byteCollection : Uint8Array = new Uint8Array();
    let byteRangeCollection : ByteRange[] = [];

    let bytePromise : Promise<ByteInformation> = null;

    const ELF_MAGIC = [0x7f, 0x45, 0x4c, 0x46];

    function buildByteIntervals(theFileArray : Readonly<ArrayBuffer>) {
        byteCollection = new Uint8Array(theFileArray);
        if (0 >= theFileArray.byteLength)
        {
            console.log("0 Length file cannot be analyzed.");
        } else if (ELF_MAGIC[0] === byteCollection[0] &&
            ELF_MAGIC[1] === byteCollection[1] &&
            ELF_MAGIC[2] === byteCollection[2] &&
            ELF_MAGIC[3] === byteCollection[3])
        {
            console.log("Identified ELF file signature.");
            bytePromise = buildByteIntervalsELF(byteCollection, byteRangeCollection);
        } else {
            console.log("No magic signature recognized:",
                byteCollection[0],
                byteCollection[1],
                byteCollection[2],
                byteCollection[3]);
        }
    };

    $: if (fileInput) {
        let inputFile = fileInput[0];
        let fileContents = inputFile.arrayBuffer();
        fileContents.catch(error => {console.log("Failed to open file : ", error);});
        fileContents.then(buildByteIntervals);
    }

</script>

<svelte:head>
    <title>{name}</title>
</svelte:head>

<main>
    <div class="viewport">
        Supported files : ELF.
        <input type="file" bind:files={fileInput}/>
        {#if bytePromise}
            {#await bytePromise}
                Building byte display...
            {:then byteInformation}
                <Binary
                    byteInformation={byteInformation}
                    />
            {/await}
        {/if}
    </div>
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 90vw;
        margin: 0 auto;;
    }

    h1 {
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }

    input {
        min-height: 4ch;
    }

    .viewport {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        max-height: 90vh;
    }
</style>